<!DOCTYPE html>
<html>
  <head>
    <title>Pandemic Goofs</title>
    <!-- facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= @url %>" />
    <meta property="og:title" content="Pandemic Goofs" />
    <meta property="og:description" content="Silly things to call the global pandemic when you just don't want to be serious. Imagine being serious... in this gruff physicist training camp?" />
    <meta property="og:image" content="<%= @image %>" />

    <!-- twitter card tags additive with the og: tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="<%= @domain %>" />
    <meta property="twitter:title" content="Pandemic Goofs" />
    <meta property="twitter:description" content="Silly things to call the global pandemic when you just don't want to be serious. Imagine being serious... in this gruff physicist training camp?" />
    <meta property="twitter:image" content="<%= @image %>" />
    <meta property="twitter:url" content="<%= @url %>" />

    <%= erb :_icons %>
    <link href="/stylesheets/main.css" rel="stylesheet" />
  </head>
  <body>
    <div align='center'>
      <%= yield %>
    </div>
  </body>
</html>
